<div class="flex flex-wrap gap-4">
    <div class="flex flex-wrap gap-4">
        <twig:ui:Button variant="ghost" color="primary">primary</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="secondary">secondary</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="accent">accent</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="info">info</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="success">success</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="warning">warning</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="danger">danger</twig:ui:Button>
    </div>
    <div class="flex flex-wrap gap-4">
        <twig:ui:Button variant="ghost" color="neutral">neutral</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="red">red</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="orange">orange</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="amber">amber</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="yellow">yellow</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="lime">lime</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="green">green</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="emerald">emerald</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="teal">teal</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="cyan">cyan</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="sky">sky</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="blue">blue</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="indigo">indigo</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="violet">violet</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="purple">purple</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="fuchsia">fuchsia</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="pink">pink</twig:ui:Button>
        <twig:ui:Button variant="ghost" color="rose">rose</twig:ui:Button>
    </div>
</div>
