<div class="flex flex-wrap gap-4 justify-center items-center">
    <twig:ui:Button size="lg">
        Button sm
    </twig:ui:Button>
    <twig:ui:Button>
        Button
    </twig:ui:Button>
    <twig:ui:Button size="sm">
        Button sm
    </twig:ui:Button>
    <twig:ui:Button size="icon-sm">
        <twig:ux:icon name="lucide:circle-dashed" />
    </twig:ui:Button>
    <twig:ui:Button size="icon">
        <twig:ux:icon name="lucide:circle-dashed" />
    </twig:ui:Button>
    <twig:ui:Button size="icon-lg">
        <twig:ux:icon name="lucide:circle-dashed" />
    </twig:ui:Button>
</div>
