<div class="flex flex-wrap gap-4">
    <div class="flex flex-wrap gap-4">
        <twig:ui:Button variant="solid" color="primary">primary</twig:ui:Button>
        <twig:ui:Button variant="solid" color="secondary">secondary</twig:ui:Button>
        <twig:ui:Button variant="solid" color="accent">accent</twig:ui:Button>
        <twig:ui:Button variant="solid" color="info">info</twig:ui:Button>
        <twig:ui:Button variant="solid" color="success">success</twig:ui:Button>
        <twig:ui:Button variant="solid" color="warning">warning</twig:ui:Button>
        <twig:ui:Button variant="solid" color="danger">danger</twig:ui:Button>
    </div>
    <div class="flex flex-wrap gap-4">
        <twig:ui:Button variant="solid" color="neutral">neutral</twig:ui:Button>
        <twig:ui:Button variant="solid" color="red">red</twig:ui:Button>
        <twig:ui:Button variant="solid" color="orange">orange</twig:ui:Button>
        <twig:ui:Button variant="solid" color="amber">amber</twig:ui:Button>
        <twig:ui:Button variant="solid" color="yellow">yellow</twig:ui:Button>
        <twig:ui:Button variant="solid" color="lime">lime</twig:ui:Button>
        <twig:ui:Button variant="solid" color="green">green</twig:ui:Button>
        <twig:ui:Button variant="solid" color="emerald">emerald</twig:ui:Button>
        <twig:ui:Button variant="solid" color="teal">teal</twig:ui:Button>
        <twig:ui:Button variant="solid" color="cyan">cyan</twig:ui:Button>
        <twig:ui:Button variant="solid" color="sky">sky</twig:ui:Button>
        <twig:ui:Button variant="solid" color="blue">blue</twig:ui:Button>
        <twig:ui:Button variant="solid" color="indigo">indigo</twig:ui:Button>
        <twig:ui:Button variant="solid" color="violet">violet</twig:ui:Button>
        <twig:ui:Button variant="solid" color="purple">purple</twig:ui:Button>
        <twig:ui:Button variant="solid" color="fuchsia">fuchsia</twig:ui:Button>
        <twig:ui:Button variant="solid" color="pink">pink</twig:ui:Button>
        <twig:ui:Button variant="solid" color="rose">rose</twig:ui:Button>
    </div>
</div>
