<div class="flex flex-wrap gap-4 justify-center">
    <twig:ui:Button>Default</twig:ui:Button>
    <twig:ui:Button variant="solid">Primary</twig:ui:Button>
    <twig:ui:Button variant="soft">Secondary</twig:ui:Button>
    <twig:ui:Button variant="outline">Outline</twig:ui:Button>
    <twig:ui:Button variant="ghost">Ghost</twig:ui:Button>
    <twig:ui:Button variant="link">Link</twig:ui:Button>
</div>
