<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="apps/docs/vendor/autoload.php"
         colors="true"
         cacheDirectory="var/phpunit"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="false"
         failOnEmptyTestSuite="false">

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="HarmonyUI Test Suite">
            <directory suffix="Test.php">apps/docs/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>apps/docs/src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="var/coverage/html" lowUpperBound="50" highLowerBound="90"/>
            <clover outputFile="var/coverage/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="var/phpunit/junit.xml"/>
    </logging>

</phpunit>