{% set meta = {
    slug: '/overview/installation',
    title: 'installation.title',
    description: 'installation.description',
    canonical: 'app_home',
    order: 1,
    section: 'overview',
} %}

<div>
    doc
</div>
