:root,
.light {
    color-scheme: light;

    /* Base Colors */
    --background: #ffffff;
    --foreground: #09090b;

    --primary: #4f46e5;
    --primary-foreground: #ffffff;

    --secondary: #e5e7eb;
    --secondary-foreground: #111827;

    /* Status Colors */
    --success: #16a34a;
    --success-foreground: #ffffff;

    --warning: #d97706;
    --warning-foreground: #ffffff;

    --danger: #dc2626;
    --danger-foreground: #ffffff;

    /* Misc Colors */
    --border: #e4e4e7;
    --muted: #71717a;
    --focus: var(--primary);

    /* Calculated Colors */
    --primary-hover: color-mix(in oklab, var(--primary) 90%, var(--primary-foreground) 10%);
    --secondary-hover: color-mix(in oklab, var(--secondary) 96%, var(--secondary-foreground) 4%);
    --success-hover: color-mix(in oklab, var(--success) 90%, var(--success-foreground) 10%);
    --warning-hover: color-mix(in oklab, var(--warning) 90%, var(--warning-foreground) 10%);
    --danger-hover: color-mix(in oklab, var(--danger) 90%, var(--danger-foreground) 10%);

    /* == Common == */

    /* Border */
    --border-width: 1px;
    --disabled-opacity: 0.5;

    /* Ring offset - used for focus ring */
    --ring-offset-width: 2px;

    /* Cursor */
    --cursor-interactive: pointer;
    --cursor-disabled: not-allowed;

    /* Radius */
    --radius: 0.5rem;
}

.dark {
    color-scheme: dark;

    /* Base Colors */
    --background: #09090b;
    --foreground: #fafafa;

    --primary: #6366f1;
    --primary-foreground: #ffffff;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    /* Status Colors */
    --success: #22c55e;
    --success-foreground: #052e16;

    --warning: #f59e0b;
    --warning-foreground: #451a03;

    --danger: #ef4444;
    --danger-foreground: #ffffff;

    /* Misc Colors */
    --border: #27272a;
    --muted: #a1a1aa;

    /* Calculated Colors */
    --primary-hover: color-mix(in oklab, var(--primary) 90%, var(--primary-foreground) 10%);
    --secondary-hover: color-mix(in oklab, var(--secondary) 96%, var(--secondary-foreground) 4%);
    --success-hover: color-mix(in oklab, var(--success) 90%, var(--success-foreground) 10%);
    --warning-hover: color-mix(in oklab, var(--warning) 90%, var(--warning-foreground) 10%);
    --danger-hover: color-mix(in oklab, var(--danger) 90%, var(--danger-foreground) 10%);
}
