<div class="flex items-center gap-4 justify-center p-8 [--radius:1.2rem]">
    <twig:ui:Badge>
        <twig:ui:Spinner />
        Syncing
    </twig:ui:Badge>
    <twig:ui:Badge variant="secondary">
        <twig:ui:Spinner />
        Loading
    </twig:ui:Badge>
    <twig:ui:Badge variant="outline">
        <twig:ui:Spinner />
        Processing
    </twig:ui:Badge>
</div>
