<div class="flex items-center gap-6 justify-center p-8">
    <twig:ui:Spinner size="lg" class="text-red-500" />
    <twig:ui:Spinner size="lg" class="text-green-500" />
    <twig:ui:Spinner size="lg" class="text-blue-500" />
    <twig:ui:Spinner size="lg" class="text-yellow-500" />
    <twig:ui:Spinner size="lg" class="text-purple-500" />
</div>
