<div class="flex items-center gap-6 justify-center p-8">
    <twig:ui:Spinner size="sm" />
    <twig:ui:Spinner size="md" />
    <twig:ui:Spinner size="lg" />
    <twig:ui:Spinner size="xl" />
</div>
