<div class="grid grid-cols-3 grid-rows-3 gap-4 p-4 place-items-center">
    <div class="col-start-2 row-start-1">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="top-flip-popover">
                Popover top
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-1 row-start-2">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="left-flip-popover">
                Popover left
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-3 row-start-2">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="right-flip-popover">
                Popover right
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-2 row-start-3">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="bottom-flip-popover">
                Popover bottom
            </twig:ui:Button>
        </div>
    </div>
</div>


<twig:ui:Popover id="top-flip-popover" data-position="top" avoidCollisions>
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">top</p>
    </twig:ui:Popover:Content>
    <twig:ui:Popover:Arrow/>
</twig:ui:Popover>


<twig:ui:Popover id="left-flip-popover" data-position="left" avoidCollisions>
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">left</p>
    </twig:ui:Popover:Content>
    <twig:ui:Popover:Arrow/>
</twig:ui:Popover>


<twig:ui:Popover id="right-flip-popover" data-position="right" avoidCollisions>
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">right</p>
    </twig:ui:Popover:Content>
    <twig:ui:Popover:Arrow/>
</twig:ui:Popover>


<twig:ui:Popover id="bottom-flip-popover" data-position="bottom" avoidCollisions>
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">bottom</p>
    </twig:ui:Popover:Content>
    <twig:ui:Popover:Arrow/>
</twig:ui:Popover>

