<div class="flex items-center justify-center p-8">
    <twig:ui:Button popovertarget="basic-popover">
        Open
    </twig:ui:Button>
</div>
<twig:ui:Popover id="basic-popover">
    <twig:ui:Popover:Content class="max-w-sm">
        <p class="font-medium leading-none">Popover</p>
    </twig:ui:Popover:Content>
</twig:ui:Popover>
