<twig:ui:Button popovertarget="lock-popover">
    Open Lock Popover
</twig:ui:Button>

<twig:ui:Popover id="lock-popover" lock="">
    <twig:ui:Popover:Content class="w-80">
        <p class="font-medium leading-none">lock screen</p>
    </twig:ui:Popover:Content>
    <twig:ui:Popover:Arrow/>
</twig:ui:Popover>
