<div class="grid grid-cols-3 grid-rows-3 gap-4 p-4 place-items-center">
    <div class="col-start-1 row-start-1">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="top-start-popover">
                Top Start
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-2 row-start-1">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="top-popover">
                Top
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-3 row-start-1">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="top-end-popover">
                Top End
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-1 row-start-2">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="left-popover">
                Left
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-3 row-start-2">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="right-popover">
                Right
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-1 row-start-3">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="bottom-start-popover">
                Bottom Start
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-2 row-start-3">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="bottom-popover">
                Bottom
            </twig:ui:Button>
        </div>
    </div>

    <div class="col-start-3 row-start-3">
        <div class="flex items-center justify-center p-8">
            <twig:ui:Button popovertarget="bottom-end-popover">
                Bottom End
            </twig:ui:Button>
        </div>
    </div>
</div>

<twig:ui:Popover id="top-start-popover" position="top-start">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">top-start</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="top-popover" position="top">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">top</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="top-end-popover" position="top-end">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">top-end</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="left-popover" position="left">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">left</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="right-popover" position="right">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">right</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="bottom-start-popover" position="bottom-start">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">bottom-start</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="bottom-popover" position="bottom">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">bottom</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>

<twig:ui:Popover id="bottom-end-popover" position="bottom-end">
    <twig:ui:Popover:Content class="w-fit p-4">
        <p class="font-medium leading-none">bottom-end</p>
        <twig:ui:Popover:Arrow/>
    </twig:ui:Popover:Content>
</twig:ui:Popover>
