.demo-preview {
    --color-accent: var(--color-zinc-900);
    --color-accent-content: var(--color-zinc-900);
    --color-accent-foreground: var(--color-white);
}

.dark .demo-preview {
    --color-accent: var(--color-zinc-100);
    --color-accent-content: var(--color-zinc-300);
    --color-accent-foreground: var(--color-zinc-900);
}
