@theme {
    --color-accent: var(--color-zinc-800);
    --color-accent-content: var(--color-zinc-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    :root {
        --shadow-page: 0 16px 28px -10px rgba(0, 0, 0, 0.13);
    }

    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-zinc-800);

        --shadow-page: 0 16px 28px -10px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.08);
    }
}

@utility shadow-page {
    box-shadow: var(--shadow-page);
}

/*
 * TEMPORARY
 */
@theme {
    --color-background: var(--color-zinc-50);
    --color-foreground: var(--color-zinc-950);
    --color-card: var(--color-white);
    --color-card-foreground: var(--color-zinc-950);
    --color-popover: var(--color-white);
    --color-popover-foreground: var(--color-zinc-950);
    --color-primary: var(--color-accent);
    --color-primary-foreground: var(--color-accent-foreground);
    --color-secondary: var(--color-zinc-100);
    --color-secondary-foreground: var(--color-zinc-900);
    --color-muted: var(--color-zinc-100);
    --color-muted-foreground: var(--color-zinc-500);
    --color-border: var(--color-zinc-200);
    --color-input: var(--color-zinc-200);
    --color-ring: var(--color-accent);
    --color-chart-1: var(--color-accent);
    --color-chart-2: var(--color-zinc-400);
    --color-chart-3: var(--color-zinc-500);
    --color-chart-4: var(--color-zinc-600);
    --color-chart-5: var(--color-zinc-700);
    --color-sidebar: var(--color-zinc-50);
    --color-sidebar-foreground: var(--color-zinc-950);
    --color-sidebar-primary: var(--color-accent);
    --color-sidebar-primary-foreground: var(--color-accent-foreground);
    --color-sidebar-accent: var(--color-zinc-100);
    --color-sidebar-accent-foreground: var(--color-zinc-900);
    --color-sidebar-border: var(--color-zinc-200);
    --color-sidebar-ring: var(--color-accent);
}

@layer theme {
    .dark {
        --color-background: var(--color-zinc-950);
        --color-foreground: var(--color-zinc-50);
        --color-card: var(--color-zinc-900);
        --color-card-foreground: var(--color-zinc-50);
        --color-popover: var(--color-zinc-900);
        --color-popover-foreground: var(--color-zinc-50);
        --color-primary: var(--color-accent);
        --color-primary-foreground: var(--color-accent-foreground);
        --color-secondary: var(--color-zinc-800);
        --color-secondary-foreground: var(--color-zinc-50);
        --color-muted: var(--color-zinc-800);
        --color-muted-foreground: var(--color-zinc-400);
        --color-border: var(--color-zinc-800);
        --color-input: var(--color-zinc-800);
        --color-ring: var(--color-accent);
        --color-chart-1: var(--color-accent);
        --color-chart-2: var(--color-zinc-600);
        --color-chart-3: var(--color-zinc-500);
        --color-chart-4: var(--color-zinc-400);
        --color-chart-5: var(--color-zinc-300);
        --color-sidebar: var(--color-zinc-900);
        --color-sidebar-foreground: var(--color-zinc-50);
        --color-sidebar-primary: var(--color-accent);
        --color-sidebar-primary-foreground: var(--color-accent-foreground);
        --color-sidebar-accent: var(--color-zinc-800);
        --color-sidebar-accent-foreground: var(--color-zinc-50);
        --color-sidebar-border: var(--color-zinc-800);
        --color-sidebar-ring: var(--color-accent);
    }
}
