<div class="grid place-content-center gap-4">
    <twig:ui:Alert>
        <twig:ux:icon name="lucide:info" />
        <div>
            <h4 class="font-semibold">Heads up!</h4>
            <p class="text-sm">You can add components to your app using the cli.</p>
        </div>
    </twig:ui:Alert>
</div>
