<div class="grid place-content-center gap-4">
    <twig:ui:Alert variant="destructive">
        <twig:ux:icon name="lucide:alert-circle" />
        <div>
            <h4 class="font-semibold">Error</h4>
            <p class="text-sm">Your session has expired. Please log in again.</p>
        </div>
    </twig:ui:Alert>
</div>
