<div class="grid place-content-center gap-4">
    <twig:ui:Alert variant="info">
        <twig:ux:icon name="lucide:info" />
        <div>
            <h4 class="font-semibold">Information</h4>
            <p class="text-sm">This feature is currently in beta. Report any issues you encounter.</p>
        </div>
    </twig:ui:Alert>
</div>
