<div class="grid place-content-center gap-4">
    <twig:ui:Alert variant="success">
        <twig:ux:icon name="lucide:check-circle" />
        <div>
            <h4 class="font-semibold">Success</h4>
            <p class="text-sm">Your changes have been saved successfully.</p>
        </div>
    </twig:ui:Alert>
</div>
