<div class="grid place-content-center gap-4">
    <twig:ui:Alert variant="warning">
        <twig:ux:icon name="lucide:alert-triangle" />
        <div>
            <h4 class="font-semibold">Warning</h4>
            <p class="text-sm">This action cannot be undone. Please proceed with caution.</p>
        </div>
    </twig:ui:Alert>
</div>
