<div class="flex flex-row flex-wrap items-center gap-12">
    <twig:ui:Avatar>
        <twig:ui:Avatar:Image src="https://github.com/nicolaslps.png" alt="@_nicolaslps"/>
        <twig:ui:Avatar:Fallback>NL</twig:ui:Avatar:Fallback>
    </twig:ui:Avatar>
    <twig:ui:Avatar class="rounded-lg">
        <twig:ui:Avatar:Image
            src="https://github.com/nicolaslps.png"
            alt="@_nicolaslps"
        />
        <twig:ui:Avatar:Fallback>NL</twig:ui:Avatar:Fallback>
    </twig:ui:Avatar>
    <twig:ui:Avatar>
        <twig:ui:Avatar:Fallback>NL</twig:ui:Avatar:Fallback>
    </twig:ui:Avatar>
    <div
        class="*:data-[slot=avatar]:ring-background flex -space-x-2 *:data-[slot=avatar]:ring-2 *:data-[slot=avatar]:grayscale">
        <twig:ui:Avatar>
            <twig:ui:Avatar:Image src="https://github.com/nicolaslps.png" alt="@_nicolaslps"/>
            <twig:ui:Avatar:Fallback>NL</twig:ui:Avatar:Fallback>
        </twig:ui:Avatar>
        <twig:ui:Avatar>
            <twig:ui:Avatar:Image
                src="https://github.com/nicolaslps.png"
                alt="@_nicolaslps"
            />
            <twig:ui:Avatar:Fallback>NL</twig:ui:Avatar:Fallback>
        </twig:ui:Avatar>
        <twig:ui:Avatar>
            <twig:ui:Avatar:Image
                src="https://github.com/nicolaslps.png"
                alt="@_nicolaslps"
            />
            <twig:ui:Avatar:Fallback>NL</twig:ui:Avatar:Fallback>
        </twig:ui:Avatar>
    </div>
</div>
