{% set meta = {
    slug: '/components/accordion',
    title: 'accordion',
    description: 'A vertically stacked set of interactive headings that each reveal a section of content.',
    canonical: 'app_home',
    isComponent: true,
    order: 5,
    section: 'components',
    image: 'images/components/accordion.svg',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <div class="w-8 h-8 bg-primary text-primary-foreground rounded-lg flex items-center justify-center">
            <twig:ux:icon name="lucide:chevron-down" class="size-4"/>
        </div>
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>
    <div class="space-y-8">
        <twig:Layout:Doc:Preview title="Basic Accordion">
            {{ include('preview/accordion/basic.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/accordion/basic.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
    </div>
</div>