{% set meta = {
    slug: '/components/button',
    title: 'button.title',
    description: 'button.description',
    canonical: 'app_home',
    isComponent: true,
    order: 1,
    section: 'components',
} %}

<div class="flex flex-col gap-4">
    <twig:ui:Button>Test button</twig:ui:Button>
    <twig:ui:Button href="/components" variant="outline">Button as link</twig:ui:Button>
</div>
