{% set meta = {
    slug: '/components/button',
    title: 'button.title',
    description: 'button.description',
    canonical: 'app_home',
    isComponent: true,
    order: 1,
    section: 'components',
} %}

<h1>button</h1>
