{% set meta = {
    slug: '/components/button',
    title: 'button',
    description: 'Render a buttons/link with optional icons (prefix, suffix, both).',
    canonical: 'app_home',
    isComponent: true,
    order: 1,
    section: 'components',
    image: 'images/components/button.svg',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <div class="w-8 h-8 bg-primary-100 text-primary-600 rounded-lg flex items-center justify-center">
            <twig:ux:icon name="lucide:palette" class="size-4"/>
        </div>
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>
    <div class="space-y-8">
        <twig:Preview
            title="Variants"
            component="button"
            previewFile="variants"
            defaultTheme="default">
        </twig:Preview>
        <twig:Preview
            title="Sizes"
            component="button"
            previewFile="sizes"
            defaultTheme="default">
        </twig:Preview>
        <twig:Preview
            title="Shape"
            component="button"
            previewFile="shape"
            defaultTheme="default">
        </twig:Preview>
        <twig:Preview
            title="Solid"
            component="button"
            previewFile="solid"
            defaultTheme="default">
        </twig:Preview>
        <twig:Preview
            title="Soft"
            component="button"
            previewFile="soft"
            defaultTheme="default">
        </twig:Preview>
        <twig:Preview
            title="Outline"
            component="button"
            previewFile="outline"
            defaultTheme="default">
        </twig:Preview>
        <twig:Preview
            title="Ghost"
            component="button"
            previewFile="ghost"
            defaultTheme="default">
        </twig:Preview>
    </div>
</div>
