<div class="w-full max-w-sm">
    <twig:ui:Select id="framework-disabled" disabled>
        <option value="">Select a framework</option>
        <option value="symfony">Symfony</option>
        <option value="laravel">Laravel</option>
        <option value="cakephp">CakePHP</option>
        <option value="codeigniter">CodeIgniter</option>
    </twig:ui:Select>
</div>
