<div class="w-full max-w-sm">
    <twig:ui:Select id="framework-disabled" disabled>
        <option value="">Select a framework</option>
        <option value="react">React</option>
        <option value="vue">Vue</option>
        <option value="angular">Angular</option>
        <option value="svelte">Svelte</option>
    </twig:ui:Select>
</div>
