<div class="grid w-full gap-3">
    <twig:ui:Label for="framework-2">Framework</twig:ui:Label>
    <twig:ui:Select id="framework-2">
        <option value="">Select a framework</option>
        <option value="react">React</option>
        <option value="vue">Vue</option>
        <option value="angular">Angular</option>
        <option value="svelte">Svelte</option>
    </twig:ui:Select>
</div>
