
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> og/card.mjs ###
/og/node_modules/
###< og/card.mjs ###

###> symfony/reprise ###
/public/build/
###< symfony/reprise ###

###> node ###
/node_modules/
###< node ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> app ###
/public/media/
###< app ###
