<div class="grid place-content-center gap-4">
    <div class="w-full max-w-sm space-y-2">
        <twig:ui:Label for="email-input">Email</twig:ui:Label>
        <twig:ui:Input id="email-input" type="email" placeholder="Email" />
    </div>
</div>
