<div class="flex flex-col gap-4">
    <div class="flex items-center space-x-2">
        <twig:ui:Switch id="toggle-sm" size="sm" />
        <twig:ui:Label for="toggle-sm">Small toggle</twig:ui:Label>
    </div>

    <div class="flex items-center space-x-2">
        <twig:ui:Switch id="toggle-md" size="md" />
        <twig:ui:Label for="toggle-md">Default toggle</twig:ui:Label>
    </div>

    <div class="flex items-center space-x-2">
        <twig:ui:Switch id="toggle-lg" size="lg" />
        <twig:ui:Label for="toggle-lg">Large toggle</twig:ui:Label>
    </div>
</div>
