<div class="grid w-full max-w-sm gap-6">
    <twig:ui:ButtonGroup>
        <twig:ui:ButtonGroup:Text>
            <twig:ui:Label for="url">https://</twig:ui:Label>
        </twig:ui:ButtonGroup:Text>
        <twig:ui:InputGroup>
            <twig:ui:InputGroup:Input id="url" />
            <twig:ui:InputGroup:Addon align="inline-end">
                <twig:ux:icon name="lucide:link-2" />
            </twig:ui:InputGroup:Addon>
        </twig:ui:InputGroup>
        <twig:ui:ButtonGroup:Text>
            .com
        </twig:ui:ButtonGroup:Text>
    </twig:ui:ButtonGroup>
</div>
