<div class="grid w-full max-w-sm gap-6">
    <twig:ui:InputGroup>
        <twig:ui:InputGroup:Input placeholder="Search..." />
        <twig:ui:InputGroup:Addon>
            <twig:ux:icon name="lucide:search" />
        </twig:ui:InputGroup:Addon>
    </twig:ui:InputGroup>

    <twig:ui:InputGroup>
        <twig:ui:InputGroup:Input type="email" placeholder="Enter your email" />
        <twig:ui:InputGroup:Addon>
            <twig:ux:icon name="lucide:mail" />
        </twig:ui:InputGroup:Addon>
    </twig:ui:InputGroup>

    <twig:ui:InputGroup>
        <twig:ui:InputGroup:Input placeholder="Card number" />
        <twig:ui:InputGroup:Addon>
            <twig:ux:icon name="lucide:credit-card" />
        </twig:ui:InputGroup:Addon>
        <twig:ui:InputGroup:Addon align="inline-end">
            <twig:ux:icon name="lucide:check" />
        </twig:ui:InputGroup:Addon>
    </twig:ui:InputGroup>

    <twig:ui:InputGroup>
        <twig:ui:InputGroup:Input placeholder="Card number" />
        <twig:ui:InputGroup:Addon align="inline-end">
            <twig:ux:icon name="lucide:star" />
            <twig:ux:icon name="lucide:info" />
        </twig:ui:InputGroup:Addon>
    </twig:ui:InputGroup>
</div>
