@theme {
    --color-accent: var(--color-zinc-900);
    --color-accent-content: var(--color-zinc-900);
    --color-accent-foreground: var(--color-white);

    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

@layer theme {
    .dark {
        --color-accent: var(--color-zinc-100);
        --color-accent-content: var(--color-zinc-300);
        --color-accent-foreground: var(--color-zinc-900);
    }
}
