<div class="flex flex-col items-center gap-4">
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" shape="circle">
            Primary
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" shape="circle">
            Success
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" shape="circle">
            Warning
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" shape="circle">
            Info
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" shape="circle">
            Destructive
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" appearance="light" shape="circle">
            Primary
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="light" shape="circle">
            Success
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="light" shape="circle">
            Warning
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="light" shape="circle">
            Info
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="light" shape="circle">
            Destructive
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" appearance="outline" shape="circle">
            Primary
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="outline" shape="circle">
            Success
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="outline" shape="circle">
            Warning
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="outline" shape="circle">
            Info
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="outline" shape="circle">
            Destructive
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="secondary" shape="circle">
            Secondary
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="light" shape="circle">
            Secondary
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="outline" shape="circle">
            Secondary
        </twig:ui:Badge>
    </div>
</div>
