<div class="flex flex-col items-center gap-4">
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" appearance="ghost" disabled="true">
            Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" disabled="true">
            Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" appearance="light" disabled="true">
            Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" appearance="outline" disabled="true">
            Outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="secondary" appearance="ghost" disabled="true">
            Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" disabled="true">
            Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="light" disabled="true">
            Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="outline" disabled="true">
            Outline
        </twig:ui:Badge>
    </div>
</div>
