<div class="flex flex-col items-center gap-4">
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" appearance="outline">
            Primary
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="outline">
            Success
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="outline">
            Warning
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="outline">
            Info
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="outline">
            Destructive
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="secondary" appearance="outline">
            Secondary
        </twig:ui:Badge>
    </div>
</div>
