<div class="flex flex-col items-center justify-center gap-6">
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" size="xs">
            Xsmall
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" size="sm">
            Small
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary">
            Medium
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" size="lg">
            Large
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" shape="circle" size="xs">
            5
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" shape="circle" size="sm">
            5
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" shape="circle">
            5
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" shape="circle" size="lg">
            5
        </twig:ui:Badge>
    </div>
</div>
