<div class="flex flex-col items-center gap-6">
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" appearance="ghost">
            <twig:ux:icon name="lucide:tag" /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary">
            <twig:ux:icon name="lucide:mail" /> Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" appearance="light">
            <twig:ux:icon name="lucide:activity" /> light
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" appearance="outline">
            <twig:ux:icon name="lucide:tag" /> outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="success" appearance="ghost">
            <twig:ux:icon name="lucide:tag" /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="success">
            <twig:ux:icon name="lucide:mail" /> Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="light">
            <twig:ux:icon name="lucide:activity" /> light
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="outline">
            <twig:ux:icon name="lucide:tag" /> outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="info" appearance="ghost">
            <twig:ux:icon name="lucide:tag" /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="info">
            <twig:ux:icon name="lucide:mail" /> Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="light">
            <twig:ux:icon name="lucide:activity" /> light
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="outline">
            <twig:ux:icon name="lucide:tag" /> outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="warning" appearance="ghost">
            <twig:ux:icon name="lucide:tag" /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning">
            <twig:ux:icon name="lucide:mail" /> Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="light">
            <twig:ux:icon name="lucide:activity" /> light
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="outline">
            <twig:ux:icon name="lucide:tag" /> outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="destructive" appearance="ghost">
            <twig:ux:icon name="lucide:tag" /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive">
            <twig:ux:icon name="lucide:mail" /> Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="light">
            <twig:ux:icon name="lucide:activity" /> light
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="outline">
            <twig:ux:icon name="lucide:tag" /> outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="secondary" appearance="ghost">
            <twig:ux:icon name="lucide:tag" /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary">
            <twig:ux:icon name="lucide:mail" /> Solid
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="light">
            <twig:ux:icon name="lucide:activity" /> light
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="outline">
            <twig:ux:icon name="lucide:tag" /> outline
        </twig:ui:Badge>
    </div>
</div>
