<div class="flex flex-col items-center gap-4">
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="secondary" appearance="ghost">
            Ghost
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary">
            Solid
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="light">
            Light
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="outline">
            Outline
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="primary" appearance="ghost">
            Ghost
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary">
            Solid
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" appearance="light">
            light
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="primary" appearance="outline">
            Outline
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="success" appearance="ghost">
            Ghost
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="success">
            Solid
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="light">
            light
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="outline">
            Outline
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="info" appearance="ghost">
            Ghost
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="info">
            Solid
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="light">
            light
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="outline">
            Outline
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="warning" appearance="ghost">
            Ghost
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning">
            Solid
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="light">
            light
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="outline">
            Outline
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="destructive" appearance="ghost">
            Ghost
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive">
            Solid
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="light">
            light
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="outline">
            Outline
            <twig:ui:Badge:Button>
                <twig:ux:icon name="lucide:x" />
            </twig:ui:Badge:Button>
        </twig:ui:Badge>
    </div>
</div>
