<div class="flex flex-col items-center gap-6">
    <div class="flex items-center gap-4">
        <twig:ui:Badge appearance="ghost">
            <twig:ui:Badge:Dot /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge>
            <twig:ui:Badge:Dot /> Default
        </twig:ui:Badge>
        <twig:ui:Badge appearance="light">
            <twig:ui:Badge:Dot /> Light
        </twig:ui:Badge>
        <twig:ui:Badge appearance="outline">
            <twig:ui:Badge:Dot /> Outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="success" appearance="ghost">
            <twig:ui:Badge:Dot /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="success">
            <twig:ui:Badge:Dot /> Default
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="light">
            <twig:ui:Badge:Dot /> Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="success" appearance="outline">
            <twig:ui:Badge:Dot /> Outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="info" appearance="ghost">
            <twig:ui:Badge:Dot /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="info">
            <twig:ui:Badge:Dot /> Default
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="light">
            <twig:ui:Badge:Dot /> Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="info" appearance="outline">
            <twig:ui:Badge:Dot /> Outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="warning" appearance="ghost">
            <twig:ui:Badge:Dot /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning">
            <twig:ui:Badge:Dot /> Default
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="light">
            <twig:ui:Badge:Dot /> Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="warning" appearance="outline">
            <twig:ui:Badge:Dot /> Outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="destructive" appearance="ghost">
            <twig:ui:Badge:Dot /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive">
            <twig:ui:Badge:Dot /> Default
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="light">
            <twig:ui:Badge:Dot /> Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="destructive" appearance="outline">
            <twig:ui:Badge:Dot /> Outline
        </twig:ui:Badge>
    </div>
    <div class="flex items-center gap-4">
        <twig:ui:Badge variant="secondary" appearance="ghost">
            <twig:ui:Badge:Dot /> Ghost
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary">
            <twig:ui:Badge:Dot /> Default
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="light">
            <twig:ui:Badge:Dot /> Light
        </twig:ui:Badge>
        <twig:ui:Badge variant="secondary" appearance="outline">
            <twig:ui:Badge:Dot /> Outline
        </twig:ui:Badge>
    </div>
</div>
