<div class="flex items-center justify-center p-8">
    <twig:ui:ButtonGroup>
        <twig:ui:Button variant="outline">
            Button 1
        </twig:ui:Button>
        <twig:ui:Button variant="outline">
            Button 2
        </twig:ui:Button>
        <twig:ui:Button variant="outline">
            Button 3
        </twig:ui:Button>
    </twig:ui:ButtonGroup>
</div>
