<div class="flex items-center justify-center p-8">
    <twig:ui:ButtonGroup>
        <twig:ui:ButtonGroup>
            <twig:ui:Button variant="outline" size="sm">
                1
            </twig:ui:Button>
            <twig:ui:Button variant="outline" size="sm">
                2
            </twig:ui:Button>
            <twig:ui:Button variant="outline" size="sm">
                3
            </twig:ui:Button>
            <twig:ui:Button variant="outline" size="sm">
                4
            </twig:ui:Button>
            <twig:ui:Button variant="outline" size="sm">
                5
            </twig:ui:Button>
        </twig:ui:ButtonGroup>
        <twig:ui:ButtonGroup>
            <twig:ui:Button variant="outline" size="icon-sm" aria-label="Previous">
                <twig:ux:icon name="lucide:arrow-left" />
            </twig:ui:Button>
            <twig:ui:Button variant="outline" size="icon-sm" aria-label="Next">
                <twig:ux:icon name="lucide:arrow-right" />
            </twig:ui:Button>
        </twig:ui:ButtonGroup>
    </twig:ui:ButtonGroup>
</div>
