<div class="flex items-center justify-center p-8">
    <twig:ui:ButtonGroup>
        <twig:ui:Button variant="secondary">
            Copy
        </twig:ui:Button>
        <twig:ui:ButtonGroup:Separator/>
        <twig:ui:Button variant="secondary">
            Paste
        </twig:ui:Button>
    </twig:ui:ButtonGroup>
</div>
