<div class="flex flex-col items-center justify-center gap-4 p-8">
    <twig:ui:ButtonGroup>
        <twig:ui:Button variant="outline" size="sm">
            Small
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="sm">
            Button
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="sm">
            Group
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="sm">
            <twig:ux:icon name="lucide:plus" />
        </twig:ui:Button>
    </twig:ui:ButtonGroup>

    <twig:ui:ButtonGroup>
        <twig:ui:Button variant="outline" size="md">
            Default
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="md">
            Button
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="md">
            Group
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="md">
            <twig:ux:icon name="lucide:plus" />
        </twig:ui:Button>
    </twig:ui:ButtonGroup>

    <twig:ui:ButtonGroup>
        <twig:ui:Button variant="outline" size="lg">
            Large
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="lg">
            Button
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="lg">
            Group
        </twig:ui:Button>
        <twig:ui:Button variant="outline" size="lg">
            <twig:ux:icon name="lucide:plus" />
        </twig:ui:Button>
    </twig:ui:ButtonGroup>
</div>
