<div class="flex items-center justify-center p-8">
    <twig:ui:ButtonGroup>
        <twig:ui:Button variant="secondary">
            Save Changes
        </twig:ui:Button>
        <twig:ui:ButtonGroup:Separator/>
        <twig:ui:Button variant="secondary" size="icon">
            <twig:ux:icon name="lucide:plus" />
        </twig:ui:Button>
    </twig:ui:ButtonGroup>
</div>
