<div class="flex items-center justify-center p-4">
    <twig:ui:Button
        variant="outline"
        data-dialog="alert-basic"
    >
        Show Alert
    </twig:ui:Button>
</div>

<twig:ui:Dialog id="alert-basic" type="alert">
    <twig:ui:Dialog:Content>
        <form>
            <twig:ui:Dialog:Header>
                <twig:ui:Dialog:Title>
                    Are you absolutely sure?
                </twig:ui:Dialog:Title>
                <twig:ui:Dialog:Description>
                    This action cannot be undone. This will permanently delete your account and remove your data from our servers.
                </twig:ui:Dialog:Description>
            </twig:ui:Dialog:Header>
            <twig:ui:Dialog:Footer>
                <twig:ui:Button
                    variant="outline"
                    data-dialog="alert-basic"
                    data-action="close"
                >
                    Cancel
                </twig:ui:Button>
                <twig:ui:Button
                    variant="destructive"
                >
                    Continue
                </twig:ui:Button>
            </twig:ui:Dialog:Footer>
        </form>
    </twig:ui:Dialog:Content>
</twig:ui:Dialog>
